.mapboxgl-ctrl-top-right {
  right: 200px !important;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  width: 200px;
}

#geocoder {
  position: absolute;
  z-index: 111;
  width: 100%;
  left: 0%;
  top: 10px;
}
